node_modules/
**/node_modules
**/lib
**/package.json
src/jupyterlite_pyodide_kernel/labextension/
**/.pyodide/
.pytest_cache/
docs/
build/
dist/
CHANGELOG.md

# generated
_pypi.ts
**/pypi/all.json
**/pypi/repodata.json
